<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/68bca406-1720-4175-934e-23f38e2a91a8/resourceGroups/APIs/providers/Microsoft.ApiManagement/service/SyntaxBackEndAPI/apis/SyntaxBackEnd</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/68bca406-1720-4175-934e-23f38e2a91a8/resourcegroups/APIs/providers/Microsoft.Web/sites/SyntaxBackEnd</ResourceId>
    <ResourceGroup>APIs</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://syntaxbackend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d2b4a82c-ba31-4a2b-b85d-6f57caae798d</ProjectGuid>
    <PublishUrl>https://syntaxbackend.scm.azurewebsites.net/</PublishUrl>
    <UserName>$SyntaxBackEnd</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>