.auth-container {
    background-image: url('../src/Assets/background/menuhatterblur.jpg');
    background-size: cover;
    background-position: center;
}

.menu-container {
    background-image: url('../src/Assets/background/menuhatter.jpg');
    background-size: cover;
    background-position: center;
}