@font-face {
    font-family: "Joystix Monospace";
    src:
        local("Joystix Monospace"),
        url("../../public/joystix.otf") format("opentype"),
}

div {

    margin: 0px;
    overflow: hidden;
    font-family: "Joystix Monospace";
}

.hatter{
    height : 100vh;
    background-image: url('../Assets/background/Hatter01kerettel.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
}

.homalyoshatter{
    height : 100vh;
    background-image: url('../Assets/background/menuhatterblurKeret.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tileHatter{
    background-image: url('../Assets/background/tiletile.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.felirat{
    color: white;
}

.gombok{
    background-image: url('../Assets/buttons/button.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}